@import "labels.less";

@resistor-black:    @gray-base;
@resistor-brown:    #966F33;
@resistor-red:      red;
@resistor-orange:   orange;
@resistor-yellow:   yellow;
@resistor-green:    #4CC417;
@resistor-blue:     blue;
@resistor-violet:   #E238EC;
@resistor-grey:     grey;
@resistor-white:    white;
@resistor-gold:     gold;
@resistor-silver:   silver;

.resistor-color-label {
  &:extend(.label);
  display: inline-block;
  width: 80px;
}

.resistor-color-dark-color{
  color: @label-color-dark;
  a& {
    &:hover,
    &:focus {
      color: @label-link-hover-color-dark;
    }
  }
}

.resistor-color-label.black {
  .label-variant(@resistor-black);
}
.resistor-color-label.brown {
  .label-variant(@resistor-brown);
}
.resistor-color-label.red {
  .label-variant(@resistor-red);
}
.resistor-color-label.orange {
  .label-variant(@resistor-orange);
  .resistor-color-dark-color;
}
.resistor-color-label.yellow {
  .label-variant(@resistor-yellow);
  .resistor-color-dark-color;
}
.resistor-color-label.green {
  .label-variant(@resistor-green);
}
.resistor-color-label.blue {
  .label-variant(@resistor-blue);
}
.resistor-color-label.violet {
  .label-variant(@resistor-violet);
}
.resistor-color-label.grey {
  .label-variant(@resistor-grey);
}
.resistor-color-label.white {
  .label-variant(@resistor-white);
  .resistor-color-dark-color;
}
.resistor-color-label.gold {
  .label-variant(@resistor-gold);
  .resistor-color-dark-color;
}
.resistor-color-label.silver {
  .label-variant(@resistor-silver);
  .resistor-color-dark-color;
}

footer{
  text-align: center;
}
