.label,
.resistor-color-label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
a.label:hover,
a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.btn .label {
  position: relative;
  top: -1px;
}
.label-default {
  background-color: #777777;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #5e5e5e;
}
.label-primary {
  background-color: #337ab7;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #286090;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.resistor-color-label {
  display: inline-block;
  width: 80px;
}
.resistor-color-dark-color {
  color: #555555;
}
a.resistor-color-dark-color:hover,
a.resistor-color-dark-color:focus {
  color: #555555;
}
.resistor-color-label.black {
  background-color: #000;
}
.resistor-color-label.black[href]:hover,
.resistor-color-label.black[href]:focus {
  background-color: #000000;
}
.resistor-color-label.brown {
  background-color: #966F33;
}
.resistor-color-label.brown[href]:hover,
.resistor-color-label.brown[href]:focus {
  background-color: #705326;
}
.resistor-color-label.red {
  background-color: red;
}
.resistor-color-label.red[href]:hover,
.resistor-color-label.red[href]:focus {
  background-color: #cc0000;
}
.resistor-color-label.orange {
  background-color: orange;
  color: #555555;
}
.resistor-color-label.orange[href]:hover,
.resistor-color-label.orange[href]:focus {
  background-color: #cc8400;
}
a.resistor-color-label.orange:hover,
a.resistor-color-label.orange:focus {
  color: #555555;
}
.resistor-color-label.yellow {
  background-color: yellow;
  color: #555555;
}
.resistor-color-label.yellow[href]:hover,
.resistor-color-label.yellow[href]:focus {
  background-color: #cccc00;
}
a.resistor-color-label.yellow:hover,
a.resistor-color-label.yellow:focus {
  color: #555555;
}
.resistor-color-label.green {
  background-color: #4CC417;
}
.resistor-color-label.green[href]:hover,
.resistor-color-label.green[href]:focus {
  background-color: #3a9612;
}
.resistor-color-label.blue {
  background-color: blue;
}
.resistor-color-label.blue[href]:hover,
.resistor-color-label.blue[href]:focus {
  background-color: #0000cc;
}
.resistor-color-label.violet {
  background-color: #E238EC;
}
.resistor-color-label.violet[href]:hover,
.resistor-color-label.violet[href]:focus {
  background-color: #d115dc;
}
.resistor-color-label.grey {
  background-color: grey;
}
.resistor-color-label.grey[href]:hover,
.resistor-color-label.grey[href]:focus {
  background-color: #676767;
}
.resistor-color-label.white {
  background-color: white;
  color: #555555;
}
.resistor-color-label.white[href]:hover,
.resistor-color-label.white[href]:focus {
  background-color: #e6e6e6;
}
a.resistor-color-label.white:hover,
a.resistor-color-label.white:focus {
  color: #555555;
}
.resistor-color-label.gold {
  background-color: gold;
  color: #555555;
}
.resistor-color-label.gold[href]:hover,
.resistor-color-label.gold[href]:focus {
  background-color: #ccac00;
}
a.resistor-color-label.gold:hover,
a.resistor-color-label.gold:focus {
  color: #555555;
}
.resistor-color-label.silver {
  background-color: silver;
  color: #555555;
}
.resistor-color-label.silver[href]:hover,
.resistor-color-label.silver[href]:focus {
  background-color: #a7a7a7;
}
a.resistor-color-label.silver:hover,
a.resistor-color-label.silver:focus {
  color: #555555;
}
footer {
  text-align: center;
  color: #555555;
}
